html
  head
    block product-title
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.12/css/all.css', integrity='sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9', crossorigin='anonymous')
    link(rel="stylesheet", href="styles.css")
  body
    include ../components/header

    #wrapper

      .content
        .text
          .description
            block description

          .information
            .switch
              p(id="english") English
              p  | 
              p(id="metric") Metric
            block table
            
              

        .image-slider
          .control-container
            .controls
              i.fas.fa-angle-left
              i.fas.fa-angle-right
            .dots
          .images
            block image-slider
      

      .features-benefits
        div
          h1 Features &amp Benefits
          block features-benefits

    include ../components/footer