html
  head
    block product-title
    link(rel="stylesheet", href="styles.css")
  body
    include ../components/header

    #wrapper

      .content
        .text
          .description
            block description

          .information
            table
              tr
                th Physical Property
                th Units
                th Values
              block table

        .image-slider
          i
          i
          div
            block image-slider
      

      .features-benefits
        div
          h1 Features &amp Benefits
          block features-benefits

    include ../components/footer