html
  head
    block product-title
    include ../components/head
  body
    include ../components/header

    #wrapper
      .content
        .text
          .description
            block description

          .information
            .switch
              p#english.active-table English
              p  | 
              p#metric.switchable Metric
            block table

        .image-slider
          .control-container
            .controls
              i.fas.fa-angle-left
              i.fas.fa-angle-right
            .dots
          .images
            block image-slider

      .features-benefits
        div
          //- h1 Features &amp Benefits
          block features-benefits

    #contact-target.contact-popup.hide-contact-form
      include ../components/contact-component

    include ../components/footer

  

    