html
  head
    block product-title
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.12/css/all.css', integrity='sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9', crossorigin='anonymous')
    link(rel="stylesheet", href="styles.css")
  body
    include ../components/header

    #wrapper

      .content
        .text
          .description
            block description

          .information
            table
              tr
                th Physical Property
                th Units
                th Values
              block table

        .image-slider
          i
          i
          div
            block image-slider
      

      .features-benefits
        div
          h1 Features &amp Benefits
          block features-benefits

    include ../components/footer