html
  head
    block product-title
    link(rel="stylesheet", href="styles.css")
  body
    include ../components/header

    .image-slider
      i
      i
      div
        block image-slider

    .description
      block description

    .information
      table
        tr
          th Physical Property
          th Units
          th Values
        block table

    .features-benefits
      block features-benefits

    include ../components/footer