html
  head
    title Become a Distributor
    include components/head
    script(src="https://www.google.com/recaptcha/api.js")
  body
    include components/header

    #wrapper.contact
      div
        h1 Become a Distributor
        br
        p Interested in becoming a distributor?  
        br
        br
        p Please fill out the form below to start the process and receive our distributor price list.  If you submit a file with your logo, we will email you back a sample of what the products will look like with your logo on it.
        br
        br
        p Join our team of distributors who have seen the advantage of private labeling their products to build up their brand.
        br
        br
        h3 Address
        .info
          p Reflect Scientific Inc.
          p 1266 South 1380 West   
          p Orem, Utah   84058     
        br
        h3 Email
        .info
          p #[a(href="mailto:info@visacon.com") info@visacon.com]
        br
        h3 Telephone
        .info
          p (801) 226-4100
      include components/contact-component

    include components/footer