html
  head
    title Become a Distributor
    include components/head
    script(src="https://www.google.com/recaptcha/api.js")
  body
    include components/header

    #wrapper.contact
      div
        h1 Become a Distributor
        br
        p Interested in becoming a distributor?  
        br
        p Please fill out the form to start the process and receive our distributor price list. 
        br 
        p Join our team of distributors who have seen the advantage of private labeling their products to build up their brand.
        br
        br
        img(src="images/private-labeling-part-2.jpg", style="max-width: 100%;")
      include components/distributor-signup

    include components/footer
