html
  head
    title Contact Us
    include components/head
  body
    include components/header

    #wrapper.thanks
        h1 Oops! Something went wrong with our system.

    include components/footer