html
  head
    title Cryometrix Freezers
    include components/head
  body
    include components/header

    #wrapper
        .hero-image
            .overlay
            img(src="images/HomepageHero.jpg")
            .info
                h1 LOOKING TO BLAST FREEZE YOUR PRODUCTS?
                p The B-90 will freeze up to 8x faster than our competitors.
                a(href="product-t160.html") B-90 BLAST/THAW FREEZER
        main
            a(href="product-t160.html")
                .content-container
                    img(src="images/freezers/t-160/3_4-Right-Closed_T-160.png", alt="T-160 Ultra Low Freezer")
                    p High capacity upright storage freezer that cools up to -160&degC.
                h2 T-160 ULTRA LOW FREEZER
            a(href="product-b90.html")
                .content-container
                    img(src="images/freezers/b-90/3_4-Left-Closed-Tech-B90.png", alt="B-90 Blast/Thaw Freezer")
                    p High capacity upright blast/thaw freezer that cools 8X faster than other freezers.
                h2 B-90 BLAST/THAW FREEZER
            a(href="product-t90.html")
                .content-container
                    img(src="images/freezers/t-90/3_4-Left-Open-product_T90.png", alt="T-90 Storage Freezer")
                    p Worry-free storage, 20 year warranty, built-in security, huge savings.
                h2 T-90 STORAGE FREEZER
            a(href="product-s90.html")
                .content-container
                    img(src="images/freezers/s-90/S-90_drawing.png", alt="S-90 Shipper Freezer")
                    p Ship products at temperatures down to -90&degC for 15 days. 100% self-contained.
                h2 S-90 SHIPPER FREEZER

    #contact-target.contact-popup.hide-contact-form
      include components/contact-component
    

    include components/footer