html
  head
    title Visacon
    include components/head
  body
    include components/header

    #wrapper
      .hero-image
        .overlay
        img(src="images/PrivateLabeling1.jpg")
        .info
          h1 FREE PRIVATE LABELING
          p Build up your own brand, not someone else&apos;s.  Visacon will private label all products with your logo, company name and contact information.
          a(href="distributor.html") BECOME A DISTRIBUTOR
      main
        a(href="p-gc-ferrules.html")
          .content-container
            img(src="images/products/gc-ferrules/GC_Ferrules.jpg", alt="GC Ferrules")
            p Ferrules for Chromatography.
          h2 GC FERRULES
        a(href="p-gc-liners.html")
          .content-container
            img(src="images/products/gc-liners/GC_Inlet_Liners.jpg", alt="GC Liners")
            p A large variety of standard and custom liners for chromatography. 
          h2 GC INLET LINERS
        a(href="p-vials.html")
          .content-container
            img(src="images/products/vials/Vials_CE_Vials,Caps_Septa.jpg", alt="Vials, Caps, & Inserts")
            p Comprehensive line of vials, caps &amp; inserts used in autosampling and headspace analysis. 
          h2 VIALS, CAPS, &amp; INSERTS
        a(href="p-gas.html")
          .content-container
            img(src="images/products/gas/GAS-Purification.jpg", alt="Gas vials")
            p For removal of moisture, hydrocarbon, and oxygen from carrier gases. 
          h2 GAS PURIFICATION
        a(href="p-silicone.html")
          .content-container
            img(src="images/products/silicone/GCSepta.jpg", alt="Rubber products")
            p GC Septa. 
          h2 GC SEPTA
        a(href="p-glass.html")
          .content-container
            img(src="images/products/glass/Glass_Fabrication.jpg", alt="Glass products")
            p Custom glass fabrication and repair. 
          h2 GLASS FABRICATION
        a(href="p-euv.html")
          .content-container
            img(src="images/products/euv/EUV.jpg", alt="EUV Detector")
            p Low Cost Fixed Wavelength Detector. 
          h2 EUV DETECTOR       
        a(href="p-vuv24.html")
          .content-container
            img(src="images/products/vuv24/VUV-24.jpg", alt="VUV-24 Detector")
            p Variable wavelength UV/VIS detector.
          h2 VUV-24 DETECTOR
        a(href="p-vuv14.html")
          .content-container
            img(src="images/products/vuv14/Detector_VUV14_Face.jpg", alt="VUV-14 Detector")
            p Fixed 245nm wavelength UV detector. 
          h2 VUV-14 DETECTOR
        a(href="p-vuv14d.html")
          .content-container
            img(src="images/products/vuv14d/VUV-14D.jpg", alt="VUV-14D Detector")
            p Filter selectable fixed wavelength UV detector with D2 Lamp. 
          h2 VUV-14D DETECTOR
        a(href="p-vuv-40f.html")
          .content-container
            img(src="images/products/vuv40f1/vuv40f.jpg", alt="VUV-40F Detector")
            p Dual Beam Fixed Wavelength Absorbance Detector. 
          h2 VUV-40F DETECTOR
        

    
    

    include components/footer