html
  head
    title Cryometrix Freezers
    include components/head
  body
    include components/header

    #wrapper
        .hero-image
            .overlay
            img(src="images/HomepageHero.png")
            .info
                h1 HEY STRANGER. LOOKING TO STORE SOME BLOOD?
                p Our T-160 will make your blood run cold.
                a T-160 ULTRA LOW FREEZER
        main
            a(href="product-t160.html")
                div
                    p High capacity upright storage freezer that cools up to -160&degC.
                    h2 T-160 ULTRA LOW FREEZER
            a(href="product-b90.html")
                div
                    p High capacity upright blast/thaw freezer that cools 8X faster than other freezers.
                    h2 B-90 BLAST/THAW FREEZER
            a(href="product-t90.html")
                div
                    p Worry-free storage, 20 year warranty, built-in security, huge savings.
                    h2 T-90 STORAGE FREEZER
            a(href="product-s90.html")
                div
                    p Ship products at temperatures down to -90&degC for 15 days. 100% self-contained.
                    h2 S-90 SHIPPER FREEZER


    

    include components/footer