html
  head
    title Visacon
    include components/head
  body
    include components/header

    #wrapper
        .hero-image
            .overlay
            img(src="images/HomepageHero.jpg")
            .info
                h1 LOOKING TO BLAST YOUR PRODUCTS?
                p This lady will freeze up to 8x faster than our competitors.
                a(href="p-euv.html") EUV DETECTOR
        main
            a(href="p-fraction-collector.html")
                .content-container
                    img(src="images/products/sp100/sp100.png", alt="Fraction Collector")
                    p Cool metal swing thing.
                h2 FRACTION COLLECTOR
            a(href="p-vuv-40f.html")
                .content-container
                    img(src="images/products/vuv40f1/vuv40f1.png", alt="VUV-40F Detector")
                    p Laser box thingy.
                h2 VUV-40F DETECTOR
            a(href="p-euv.html")
                .content-container
                    img(src="images/products/euv/euv1.png", alt="EUV Detector")
                    p Legit machine that detects how hungry you are.
                h2 EUV DETECTOR
            a(href="p-vuv24.html")
                .content-container
                    img(src="images/products/vuv24/vuv24.png", alt="VUV-24 Detector")
                    p Detector of ancient buried treasure. I'd buy one if I were you.
                h2 VUV-24 DETECTOR
            a(href="p-vuv14.html")
                .content-container
                    img(src="images/products/vuv14/vuv14.png", alt="VUV-14 Detector")
                    p Detector of ancient buried curses. I'd stay away.
                h2 VUV-14 DETECTOR
            a(href="p-vuv14d.html")
                .content-container
                    img(src="images/products/vuv14d/vuv14d.png", alt="VUV-14D Detector")
                    p Not a detector. Not sure why we call it that.
                h2 VUV-14D DETECTOR

    #contact-form-popup.contact-popup.hide-contact-form
      include components/contact-component
    

    include components/footer