html
  head
    title Cryometrix Freezers
    include components/head
  body
    include components/header

    #wrapper
        .hero-image
            .overlay
            img(src="images/HomepageHero.png")
            .info
                h1 HEY STRANGER. LOOKING TO STORE SOME BLOOD?
                p Our T-160 will make your blood run cold.
                a T-160 ULTRA LOW FREEZER
        main
            a(href="product-t160.html")
                div
                    img(src="images/freezers/t-160/3_4-Right-Closed_T-160.png", alt="T-160 Ultra Low Freezer")
                    h2 T-160 ULTRA LOW FREEZER
                    .hover-cover
                        p High capacity upright storage freezer that cools up to -160&degC.
            a(href="product-b90.html")
                div
                    img(src="images/freezers/b-90/3_4-Left-Closed-Tech-B90.png", alt="B-90 Blast/Thaw Freezer")
                    h2 B-90 BLAST/THAW FREEZER
                    .hover-cover
                        p High capacity upright blast/thaw freezer that cools 8X faster than other freezers.
            a(href="product-t90.html")
                div
                    img(src="images/freezers/t-90/3_4-Left-Open-product_T90.png", alt="T-90 Storage Freezer")
                    h2 T-90 STORAGE FREEZER
                    .hover-cover
                        p Worry-free storage, 20 year warranty, built-in security, huge savings.
            a(href="product-s90.html")
                div
                    img(src="images/freezers/s-90/S-90_drawing.png", alt="S-90 Shipper Freezer")
                    h2 S-90 SHIPPER FREEZER
                    .hover-cover
                        p Ship products at temperatures down to -90&degC for 15 days. 100% self-contained.

    #contact-target.contact-popup.hide-contact-form
      include components/contact-component
    

    include components/footer