html
  head
    title Visacon
    include components/head
  body
    include components/header

    #wrapper
      .hero-image
        .overlay
        img(src="images/HomepageHero.jpg")
        .info
          h1 LOOKING TO BLAST YOUR PRODUCTS?
          p This lady will freeze up to 8x faster than our competitors.
          a(href="p-euv.html") EUV DETECTOR
      main
        a(href="p-gc-ferrules.html")
          .content-container
            img(src="images/products/gc-ferrules/graphite.png", alt="GC Ferrules")
            p Ferrules for Chromatography.
          h2 GC FERRULES
        a(href="p-gc-liners.html")
          .content-container
            img(src="images/products/gc-liners/liners-closeup.png", alt="GC Liners")
            p A large variety of standard and custom liners for chromatography. 
          h2 GC LINERS
        a(href="p-vials.html")
          .content-container
            img(src="images/products/vials/vials.png", alt="Vials, Caps, & Inserts")
            p Comprehensive line of vials, caps & inserts used in autosampling and headspace analysis. 
          h2 VIALS, CAPS, & INSERTS
        a(href="p-gas.html")
          .content-container
            img(src="images/products/gas/gas_vials.png", alt="Gas vials")
            p For removal of moisture, hydrocarbon, and oxygen from carrier gases. 
          h2 GAS PURIFICATION
        a(href="p-silicone.html")
          .content-container
            img(src="images/products/silicone/silicone-product.png", alt="Rubber products")
            p GC Septa. 
          h2 SILICONE RUBBER PRODUCTS
        a(href="p-glass.html")
          .content-container
            img(src="images/products/glass/glass_fabrication.png", alt="Glass products")
            p Custom glass fabrication and repair. 
          h2 GLASS FABRICATION
        a(href="p-euv.html")
          .content-container
            img(src="images/products/euv/euv1.png", alt="EUV Detector")
            p Low Cost Fixed Wavelength Detector. 
          h2 EUV DETECTOR       
        a(href="p-vuv24.html")
          .content-container
            img(src="images/products/vuv24/vuv24.png", alt="VUV-24 Detector")
            p Variable wavelength UV/VIS detector.
          h2 VUV-24 DETECTOR
        a(href="p-vuv14.html")
          .content-container
            img(src="images/products/vuv14/vuv14.png", alt="VUV-14 Detector")
            p Fixed 245nm wavelength UV detector. 
          h2 VUV-14 DETECTOR
        a(href="p-vuv14d.html")
          .content-container
            img(src="images/products/vuv14d/14d-straight.png", alt="VUV-14D Detector")
            p Filter selectable fixed wavelength UV detector with D2 Lamp. 
          h2 VUV-14D DETECTOR
        a(href="p-vuv-40f.html")
          .content-container
            img(src="images/products/vuv40f1/vuv40f1.png", alt="VUV-40F Detector")
            p Dual Beam Fixed Wavelength Absorbance Detector. 
          h2 VUV-40F DETECTOR
        

    
    

    include components/footer