
extends templates/product

block product-title
  title EUV Detector

block description
  h1 EUV Fixed Wavelength UV Absorbance Monitor
  div 
    a(href="catalogs/HPLC_Catalog.pdf"  target="_blank") #[i.far.fa-file-alt] View Online Catalog
    //-a#calculator(href="#") Calculate Storage Space
    //- a Download Map
  p The EUV model is a low cost fixed wavelength light absorbance monitor designed for chromatography. Although it does not have the sensitivity of our VUV-14 analytical unit it is ideally suited for applications where there is a relatively high absorbance signal or where the amount of sample is not limited. The EUV can be used with a computer or configured as a standalone unit.


block table 
    table    
      tr
        td Light source
        td Mercury lamp 254 nm
      tr
        td Optical design
        td Interference filter with lamp noise correction
      tr
        td Wavelength selection
        td Hg lamp: 254 nm with +/- 20 nm band pass filter
      tr
        td Input/Output Connections
        td USB
      tr
        td Sample Cell
        td 	Flow cell with 5mm path length, total dead volume 9 uL (illuminated volume)

  

block image-slider
  img(src="images/products/EUV.jpg")
  

block features-benefits
  div
    .left
      div
        h2 Fixed Wavelength
        p The EUV uses a replaceable low pressure Hg lamp for a wavelength emission of 254nm.
      div
        h2 Sampling
        p Sampling is accomplished using a gasketless flow through chemically inert cell with a path length of 5mm.
      div
        h2 Low cost, low maintenance
        p The EUV utilizes a unique optical design that eliminates expensive optical components but still provides a good detection sensitivity. Total part count has been reduced resulting in a very easy to service, rugged design.
      
    .right
      div
        h2 Original Equipment Manufacturer
        p Visacon offers complete units for private label to individual modules designed to fit your specific application. For further information please contact us. 
      div
        h2 Rugged, minimal parts design
        p Lowers cost while maintaining acceptable sensitivity for high analyte concentration applications. More rugged than typical analytical instruments allow its use in industrial settings.
      div
        h2 No gasket sample cell
        p Our no gasket sample cell makes cleaning and repair simple. Unscrew the cell, clean and reassemble.
             
      
        


  
