
extends templates/product

block product-title
  title Fraction Collector

block description
  h1 SP-100 Preparative Fraction Collector
  div 
    a(href="catalogs/oem.pdf" target="_blank") View Online Catalog
    //-a#calculator(href="#") Calculate Storage Space
    //- a Download Map
  p Versatile. The Visacon SP-100 fraction collector can be used for preparative to pilot production scale liquid chromatographic separations. The fully programmable X-Y-Z axis system accomodates a wide range of collection containers (40 - 1L Boston round shown). Control is accomplished through use of a laptop or integrates into an existing separation system. 
  br
  p Reflect Scientific can also build a complete system that includes an SSL pump and Visacon detector. Just add your prep column. Call us to discuss your preparative needs.



block image-slider
  img(src="images/products/sp100/sp100.png")
  

block features-benefits
  div
    .left
      div
        h2 Features
        ul
          li Fits through standard doorways
          li Built in heavy duty rollers
          li X-Y-Z positioning delivery head with gas shock lift assist
          li Solenoid controlled flow ballast reservoir for continuous flow
          li HDPE holding tray with drain
          li Heavy-duty stainless steel shelf for solvent, waste solvent containers
          li Frame can be fitted with Plexiglas shielding
      
    .right
      
        


  
