
extends templates/product

block product-title
  title Gas Purification

block description
  h1 Gas Purification
  div 
    a(href="catalogs/oem.pdf" target="_blank") View Online Catalog
    //-a#calculator(href="#") Calculate Storage Space
    //- a Download Map
  p Reflect Scientific offers three different types of purifiers for removal of moisture, hydrocarbon, and oxygen from carrier gases.
  br 
  p All have been proven cost effective in preventing column degradation, eliminating baseline drift and maximizing the accuracy of analytical data.
  br 
  p They have been designed for optimum rate and breakthrough capacity. For best overall results in contaminant removal they should be used in combination.

 




block image-slider
  img(src="images/products/gas/gas_vials.png")  

block features-benefits
  div
    .left
      div
        h2 Type 1: High Capacity Moisture Trap
        ul
          li Treated with ultra pure Helium
          li Reduces H<sub>2</sub>0 to less than 15 ppb
      div
        h2 Type 2: Capillary Grade Hydrocarbon Trap
        ul
          li Purged with ultra pure helium
          li Activated carbon base
      div
        h2 Type 3: High Capacity Oxygen Trap
        ul
          li High efficiency getter
          li Reduces 02 to 15 ppb
      
      
    .right
      div
        p Custom manufacturing of purification devices is also available. We can handle a diverse range of chamber designs with materials of construction such as Aluminum, Stainless Steel, Teflon and Polycarbonate.
        br
        p If you'd like to find out more about Gas Purification, and more about what the Reflect Scientific team can do for your specific project, call 801-226-4100. 
        
        
          


  
