
extends templates/product

block product-title
  title GC Inlet Liners

block description
  h1 Injection Port Liners
  div 
    a(href="catalogs/oem.pdf" target="_blank") View Online Catalog
    //-a#calculator(href="#") Calculate Storage Space
    //- a Download Map
  p Reflect Scientific offers a comprehensive line of deactivated glass inlet liners for a wide variety of gas chromatographs. We manufacture our liners from the highest quality glass available. All liners are available unpacked and packed with glass wool, quartz wool and/or customer specified packing materials.
  




block image-slider
  img(src="images/products/gc-liners/liners.png")
  img(src="images/products/gc-liners/liners-closeup.png")
  

block features-benefits
  div
    .left
      div
        
        p Several deactivation processes are available to ensure complete inertness for your most critical applications. Consistent dimensions and tolerances assure you the highest quality liners available today.
        br
        p We can prepare a custom liner designed by your in house engineering department or let Reflect Scientific design the perfect insert to meet your requirements.
        br
        p If you'd like to find out more about Injection Port Liners, and more about what the Reflect Scientific team can do for your specific project, call 801-226-4100. 
      
      
    .right
      
         


  
