
extends templates/product

block product-title
  title GC Ferrules

block description
  h1 GC Ferrules
  div 
    a(href="catalogs/oem.pdf" target="_blank") #[i.far.fa-file-alt] View Online Catalog
    //-a#calculator(href="#") Calculate Storage Space
    //- a Download Map
  p With over 20 years of experience, Visacon offers you the highest quality GC Ferrules for your various applications. We offer custom and specialty application ferrules. Our ferrules will work in the following instruments: Agilent (HP), Varian, Bruker, Perkin Elmer, Antek, Carlo Erba, Finnigan (TMQ), Gow Mac , HNU, Shimadzu, SRI, Thermo Scientific, Tracor.
  br
  p We can provide you with any size ferrule to fit all of your applications. We offer the following materials for ferrules:
  ul
    li 60% Polyimide/40% Graphite
    li 85% Polyimide/15% Graphite
    li 100% Graphite
    li 100% Polyimide
    li 100% PTFE




block image-slider
  img(src="images/products/gc-ferrules/graphite.png")
  

block features-benefits
  div
    .left
      div
        h2 60% Polyimide/40% Graphite Ferrules
        ul
          li Stable to 400 &degC
          li Minimal Torque Required to Seal
          li Reusable, One-piece Design, Precision Drilled
          li Excellent for Vacuum & High Pressure Applications
          li Recommended for Mass Spec Transfer Line
          li Offers the Best Combination of Sealing and Easy Workability
          li Ferrules for Capillary and Standard Columns
      div
        h2 85% Polyimide/15% Graphite Ferrules
        ul
          li Stable to 400 &degC
          li Minimal Torque Required to Seal
          li Reusable, One-piece Design, Precision Drilled
          li Excellent for Vacuum & High Pressure Applications
          li Ferrules for Capillary and Standard Columns
      div
        h2 100% Graphite Ferrules
        ul
          li Stable to 450 &degC
          li High Purity Graphite, Preferred for Capillary GC Use
          li High Density Graphite
          li Preconditioned to Eliminate Out-Gassing
          li Contains No Binders that can Out-Gas or Absorb Analytes
          li Smooth & Clean Edges - Better than Conventional Graphite Ferrules
          li Does not stick to Glass or Fused Silica
      
    .right
      div
        h2 100% Polyimide Ferrules
        ul
          li 350 &degC Upper Temperature Limit
          li One Piece Ferrule Design
          li May Bleed at Higher Temperatures
          li Excellent Physical Properties 100% High Temperature Polyimide
          li Does not Cold Flow
      div
        h2 100% PTFE Ferrules
        ul
          li 250 &degC Upper Temperature Limit
          li Non Stick, One Piece Ferrule Design
          li 100% PTFE, Chemically Inert
         


  
