
extends templates/product

block product-title
  title Glass Fabrication

block description
  h1 Glass Fabrication
  div 
    a(href="catalogs/oem.pdf" target="_blank") #[i.far.fa-file-alt] View Online Catalog
    //-a#calculator(href="#") Calculate Storage Space
    //- a Download Map
  p Since 1992, Reflect Scientific has been serving the needs of scientists across a broad spectrum of industries with superior glassware.
  br 
  p We offer you a complete line of custom glassware assemblies.
  br
  p No job is too small. No specification too demanding. Our goal is product excellence backed up by reliable service.
  br 
  p We also handle repairs, which can offer significant savings compared to the cost of a new purchase.
  br
  p If you'd like to find out more about Glass Fabrication, and more about what the Reflect Scientific team can do for your specific project, call 801-226-4100. 
  
 




block image-slider
  img(src="images/products/glass/glass_fabrication.png")  

block features-benefits
  div
    .left
      div
        h2 Industries Served: 
        ul
          li OEM products
          li Electronic
          li Custom/Specialty
          li Laboratory
          li Experimental
          li Chromatography
      
      
      
    .right
      div
        h2 Glass Materials
        ul
          li Borosilicate
          li Quartz
          li Soda-lime
          li Vycor
          li Uranium
        
          


  
