
extends templates/product

block product-title
  title Silicone Rubber Products

block description
  h1 Silicone Rubber Products
  div 
    a(href="catalogs/oem.pdf" target="_blank") View Online Catalog
    //-a#calculator(href="#") Calculate Storage Space
    //- a Download Map
  p Reflect Scientific offers a variety of silicone based products that can be used across a very broad range of industrial applications.
  br 
  p Silicone compounds are perhaps the most versatile materials on the market today. They can outperform all other elastomers in a temperature range of -65 to 500F.
  
 




block image-slider
  img(src="images/products/silicone/silicone-product.png")  

block features-benefits
  div
    .left
      div
        h2 Typically they find application in the following areas:
        ul
          li Sealants/Septas
          li Coatings
          li Lubricants
          li Adhesives
          li Conductivity media
      div
        h2 Formed sheets, membranes and thin films formed products are available in cut sizes, sheets and pads with the following options:
        ul
          li Teflon, Mylar or Aluminum lined
          li Cross slit
          li Laser drilled holes
          li GC injection port septa
          li Vial cap liners
      
      
    .right
      div
        p No matter how diverse your needs are, we can provide an exacting product! If you'd like to find out more about Silicone Rubber Products, and more about what the Reflect Scientific team can do for your specific project, call 801-226-4100. 
        
        
          


  
