
extends templates/product

block product-title
  title Vials, Caps & Inserts

block description
  h1 Vials, Caps & Inserts
  div 
    a(href="catalogs/oem.pdf" target="_blank") View Online Catalog
    //-a#calculator(href="#") Calculate Storage Space
    //- a Download Map
  p Reflect Scientific offers a comprehensive line of vials, caps & inserts for use in autosampling and headspace analysis.
  h2 Vials
  p Choose from a variety of sizes ranging from 8x40mm to 30x54mm.
  p Materials of construction are typically:
  ul
    li Type1, 33 Expansion Borosilicate glass(Clear)
    li Type1, 51 Expansion Borosilicate glass(Amber)
    li Polypropylene
    li TPX(PolyMethyl Pentene)
  p Range of vial sizes: 
  ul
    li 8x40mm
    li 12x32mm
    li 15x45mm
    li 18x50mm
    li 20x38mm
    li 22x38mm
    li 23x46mm
    li 22x75mm
    li 23x75mm
    li 30x54mm




block image-slider
  img(src="images/products/vials/vials.png")  

block features-benefits
  div
    .left
      div
        h2 Caps
        p Choose from a wide range of caps & seals, including:
        ul
          li Teflon/Silicone Liners(low bleed)
          li Teflon/Butyl Rubber Liners
          li Teflon/Red Rubber Liners
          li 8,9,& 10mm Poylpropylene Screw Caps
          li 11 & 20mm Snap Caps Polyethylene
          li 8,11,& 20mm Aluminum Crimp Seals
          li 20mm Magnetic Crimp Seals
        
      
      
    .right
      div
        h2 Inserts
        p Choose from inserts in sizes ranging from 4x27mm to 6x38mm, including: 
        ul
          li 4x25mm w/spring
          li 4x27mm
          li 5x30mm
          li 5x30mm w/spring
          li 5x31mm
          li 5x36mm
          li 5x36mm w/spring
          li 6x25mm w/spring
          li 6x29mm
          


  
