
extends templates/product-vuv

block product-title
  title VUV-40F Detector

block description
  h1 VUV-40F Dual Beam Fixed Wavelength Absorbance Monitor
  div 
    a(href="catalogs/HPLC_Catalog.pdf"  target="_blank") View Online Catalog
    //-a#calculator(href="#") Calculate Storage Space
    //- a Download Map
  p The VUV-40F is a dual beam, fixed wavelength, optical absorbance detector for liquid chromatography. The OEM module can be configured in a variety of ways from standalone operation to incorporation into a dedicated analyzer. Choice of light source includes: Hg and D2 lamps for UV absorbance and high intensity LEDs for the visible range.
  br
  p A series of sample cell options are also available from preparative to micro volume. Standard data output formats available are USB, RS232 and IEE488. Typical applications are in HPLC systems, dedicated analyzers and private label instrumentation.


block table
  p * Constant temperature with standard 10 mm cell (air). 

  table 
      
    tr
      td Light source
      td Low pressure mercury lamp 254 nm<br>Deuterium 190 nm-400 nm<br>LED (discrete wavelengths)<br>Xenon flash 200 nm-800 nm
    tr
      td Optical design
      td Double beam (sample/reference)
    tr
      td Wavelength selection
      td Customer replaceable interference filter (filter not required on LED light source however it is application dependent)
    tr
      td Wavelength accuracy
      td Defined by elemental line emission characteristics of the lamp
    tr
      td Wavelength precision
      td Better than +/- 0.2 nm
    tr
      td Band pass
      td Low pressure mercury lamp < 0.1 nm<br>Deuterium/Xenon lamp typically 10.0 nm at half height (dependent on interference filter)<br>LED 5 nm-40 nm dependent on wavelength
    tr
      td Noise*
      td <+/- 1 x 10-5 AU over 30 sec period peak to peak with 1.0 sec rise time
    tr
      td Drift*	
      td <+/- 1 x 10-4 AU over 30 min period peak to peak 1.0 sec rise time
    tr
      td Input/Output
      td 	Standard configuration USB I/O<br>Optional 24 bit analog output or IEEE 488<br>Data rate can be fixed or variable from 80 samples/sec to 30,000 samples/sec.
    tr
      td Cells
      td 5mm, 10mm path length STD cell; 5mm, 10mm path length High flow cell; micro cell, prep cell

  

block image-slider
  img(src="images/products/vuv40f1/vuv40f1.png")
  

block features-benefits
  div.vuv-features 
    div
      h2 Variety of light sources
      p The VUV-40F can be configured with Hg, LED, Deuterium or Xenon light sources allowing a wide selection of light throughput, wavelength selection, power and sizes to fit any application.
    div
      h2 Dual beam
      p Compact patented design keeps the optical unit small but with the performance of larger instruments. This allows smaller dedicated OEM designs or smaller footprint for stand-alone instruments.
    div
      h2 Advanced electronics
      p High-resolution output can be accessed by USB or IEE488 protocols. Fully programmable parameters using a host computer are permanently stored in non-volatile memory. Easily integrated with OEM analytical systems. Stand-alone operation configuration for private label instruments is also available.
        
      
        


  
