extends templates/product

block product-title
  title T-90 Freezer

block description
  h1 Cryometrix T-90 Storage Freezer
  div 
    a(href="brochures/Cryometrix_T-90.pdf" download="Cryometrix_T-90") Download Brochure
    a Calculate Storage Capacity
    a Download Map
  p The new completely redesigned Cryometrix T-90 programmable storage freezer delivers on all points. The T-90 freezer is a technological breakthrough that incorporates a compressor-free, redundant, liquid nitrogen-based technology with an upright design. You can now reach temperatures down to -90°C in a fraction of the time that traditional mechanical freezer would take. And dont worry about the door open recovery, the T-90 can recover temperature from a typical door open in less than 15 minutes. The T-90 is a stable, scalable, adaptable, and validatable platform. The payload capacity is 33.5 ft3 (950 L = 72,000 2-mL vials), and with its all stainless steel upright design, the T-90 addresses several user issues such as security, ease of operation, cleaning, and the system is designed to eliminate icing. 

block table
  .english
    table
      tr
        th Physical Property
        th Units
        th Values
      tr
        td Dimensions
        td Inches
        td 42" D x 48" W x 84" H
      tr
        td Weight (Empty)
        td Pounds
        td 1672
      tr
        td Payload Capacity
        td Cubic Feet
        td 33.5
      tr
        td Payload Dimensions
        td Inches
        td 28" D x 34.5" W x 60" H
      tr
        td Electrical
        td 120 VAC 60 Hz
        td 
      tr
        td Cooling Media
        td LN2
        td 
      tr
        td Inlet Pressure
        td PSI
        td 18-90
      tr
        td Adjustable Set Point
        td &degF
        td +68 to -130
      tr
        td Temperature Uniformity
        td &degF
        td &plusmn 5 &deg F at -80 &degC
      tr
        td Ramp Rate
        td &degF/min
        td -2 to -5
  //metric table
  .metric
    table
      tr
        th Physical Property
        th Units
        th Values
      tr
        td Dimensions
        td mm
        td 1062 D x 1224 W x 2126 H
      tr
        td Weight (Empty)
        td Kilograms
        td 760
      tr
        td Payload Capacity
        td Liters
        td 950
      tr
        td Payload Dimensions
        td mm
        td 711 D x 876 W x 1524 H
      tr
        td Electrical
        td 208-240 VAC
        td 
      tr
        td Cooling Media
        td LN2
        td 
      tr
        td Inlet Pressure
        td Bar
        td 1.2 - 6.2
      tr
        td Adjustable Set Point
        td &degC
        td +20 to -90
      tr
        td Temperature Uniformity
        td &degC
        td &plusmn 3 at -80 &degC
      tr
        td Ramp Rate
        td &degC/min
        td -1 to -3

block image-slider
  img(src="images/product-slider/t150-1.png")
  img(src="images/product-slider/t150-2.png")

block features-benefits
  div
    .left
      div
        h2 Unique sealed Liquid Nitrogen based technology | Excellent thermal performance
        ul
          li Temperature adjustable from +20 &degC to -90 &degC  
          li Ambient to -80 &degC in less than 1 hour
          li Uniform temperatures throughout payload bay (&plusmn 3 &degC)
          li Fast recovery from open/close event (10 mins)
      div
        h2 Large 33.5 cubic ft. / 950 liters storage volume
        ul
          li 72,000 x 2mL vial storage capacity controlled at &plusmn 3 &degC
          li Customized racking available
      div
        h2 Compressor free operation
        ul
          li Minimal power consumption
          li No rejected heat into workspace
          li Noiseless operation, vibration and dust free
      div
        h2 Low LN2 consumption Mission critical design
        ul
          li User security features
          li Low maintenance design
    .right
      div
        h2 Ergonomically simplified design
        ul
          li As easy to use as a common household refrigerator
          li Left or right hand door swing
          
      div
        h2 Designed for cGMP applications
        ul
          li DQ/IQ completed
          li OQ/PQ ready
          li GMP qualified units currently in PharmBio use
      div
        h2 Compared to compressor based technologies - The T-90 offers:
        ul
          li A significant reduction in electrical power consumption
          li Up to 5 times greater payload capacity per unit area of floor space
          li Significant overall reduction in net operating expenses
      div
        h2 No liquid nitrogen exposure to users or product