extends templates/product

block image-slider
  img(src="image1")
  img(src="image1")
  img(src="image1")

block description
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, autem mollitia explicabo, omnis modi dicta magnam corporis perspiciatis earum quidem excepturi tempore rem distinctio reiciendis quibusdam ullam sint laborum sit!
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, autem mollitia explicabo, omnis modi dicta magnam corporis perspiciatis earum quidem excepturi tempore rem distinctio reiciendis quibusdam ullam sint laborum sit!

block table
  tr
    td Dimensions
    td Inches
    td 42" D x 48" W x 84" H

block features-benefits
