
extends templates/product

block product-title
  title S-90 Freezer

block description
  h1 Cryometrix S-90 Low Temperature Shipper
  div 
    a(href="brochures/Cryometrix_S-90.pdf" download="Cryometrix_S-90") Download Brochure
    a Calculate Storage Capacity
    a Download Map
  p Cryometrix is proud to announce the newest freezer to their lineup, the S-90 Shipper. We have taken everything that you love about the T-90 storage freezer and incorporated an onboard LN2 supply and power supply so that the freezer can be shipped across the world or accross your campus. The onboard LN2 supply and batteries will allow the freezer to run on its own for 15 days at -80°C. 

block table
  .english
    table
      tr
        th Physical Property
        th Units
        th Values
      tr
        td Dimensions
        td Inches
        td 96" D x 48" W x 94" H
      tr
        td Weight (Empty)
        td Pounds
        td 2500
      tr
        td Payload Capacity
        td Cubic Feet
        td 33.5
      tr
        td Payload Dimensions
        td Inches
        td 28" D x 34.5" W x 60" H
      tr
        td Electrical
        td 120 VAC 60 Hz
        td 
      tr
        td Cooling Media
        td LN2
        td 
      tr
        td Inlet Pressure
        td PSI
        td 22
      tr
        td Adjustable Set Point
        td &degF
        td +68 to -130
      tr
        td Temperature Uniformity
        td &degF
        td &plusmn 5 &deg F at -130 &degC
      tr
        td Ramp Rate
        td &degF/min
        td -2 to -5

  //metric table
  .metric
    table
      tr
        th Physical Property
        th Units
        th Values
      tr
        td Dimensions
        td mm
        td 2438 D x 1224 W x 2387 H
      tr
        td Weight (Empty)
        td Kilograms
        td 1130
      tr
        td Payload Capacity
        td Liters
        td 950
      tr
        td Payload Dimensions
        td mm
        td 711 D x 876 W x 1524 H
      tr
        td Electrical
        td 208-240 VAC
        td 
      tr
        td Cooling Media
        td LN2
        td 
      tr
        td Inlet Pressure
        td Bar
        td 1.5
      tr
        td Adjustable Set Point
        td &degC
        td +20 to -90
      tr
        td Temperature Uniformity
        td &degC
        td &plusmn 3 at -80 &degC
      tr
        td Ramp Rate
        td &degC/min
        td -1 to -3

block image-slider
  //- img(src="image1")
  //- img(src="image1")
  //- img(src="image1")

block features-benefits
  div
    .left
      div
        h2 Unique sealed Liquid Nitrogen based technology
        ul
          li Temperature adjustable from +20 &degC to -90 &degC
          li Ambient to -80 &degC in less than 1 hour
          li Uniform temperatures throughout payload bay (&plusmn 3 &degC)
          li Fast recovery from open/close event (10 mins)
      div
        h2 Large 33.5 cubic ft. / 950 liters storage volume
        ul
          li 72,000 x 2mL vial storage capacity controlled at &plusmn 3 &degC
          li Customized racking available
      div
        h2 Compressor free operation
        ul
          li Minimal power consumption
          li No rejected heat into workspace
          li Noiseless operation, vibration and dust free
      div
        h2 Low LN2 consumption Mission critical design
        ul
          li User security features
          li Low maintenance design
    .right
      div
        h2 Ergonomically simplified design
        ul
          li As easy to use as a common household refrigerator
          li Left or right hand door swing
          
      div
        h2 Designed for shipping applications
        ul
          li Up to 15 days of storage at -80 &degC
          li Self-contained LN2 and electrical source
          li Pallet-mounted for easy transportation
      div
        h2 No liquid nitrogen exposure to users or product
        


  