
extends templates/product

block product-title
  title B-90 Freezer

block description
  h1 Cryometrix B-90 Blast/Thaw Freezer
  div 
    a(href="brochures/Cryometrix_B-90.pdf" download="Cryometrix_B-90") Download Brochure
    a Calculate Storage Capacity
    a Download Map
  p The Cryometrix B-90 freezer offers valuable benefits for everyone involved in your freezing processes. Lab personnel get the time-saving convenience of upright storage and easy access, while your overall freezing process gains efficiencies which will greatly increase your throughput and lower your production time. Contact us to receive data for blast freezing times for your specific application. We can help you configure the best setup in order to get you the most throughput. 

block table
  .english
    table
      tr
        th Physical Property
        th Units
        th Values
      tr
        td Dimensions
        td Inches
        td 42" D x 48" W x 84" H
      tr
        td Weight (Empty)
        td Pounds
        td 1672
      tr
        td Payload Capacity
        td Cubic Feet
        td 31.7
      t
        td Payload Dimensions
        td Inches
        td 22.75" D x 31.5" W x 60" H
      tr
        td Electrical
        td 120 VAC 60 Hz
        td 
      tr
        td Cooling Media
        td LN2
        td 
      tr
        td Inlet Pressure
        td PSI
        td 90-110
      tr
        td Adjustable Set Point
        td &degF
        td +104 to -130
      tr
        td Temperature Uniformity
        td &degF
        td &plusmn 5 &degF at 130 &degF
      tr
        td Ramp Rate
        td &degF/min
        td -13
  //metric table
  .metric
    table
      tr
        th Physical Property
        th Units
        th Values
      tr
        td Dimensions
        td mm
        td 1062 D x 1224 W x 2126 H
      tr
        td Weight (Empty)
        td Kilograms
        td 760
      tr
        td Payload Capacity
        td Liters
        td 700
      tr
        td Payload Dimensions
        td mm
        td 578 D x 800 W x 1524 H
      tr
        td Electrical
        td 208-240 VAC
        td 
      tr
        td Cooling Media
        td LN2
        td 
      tr
        td Inlet Pressure
        td Bar
        td 6.2 - 7.6
      tr
        td Adjustable Set Point
        td &degC
        td +40 to -90
      tr
        td Temperature Uniformity
        td &degC
        td &plusmn 3 at -90 &degC
      tr
        td Ramp Rate
        td &degC/min
        td -7

block image-slider
  img(src="images/freezers/b-90/3_4-Left-Closed-Tech-B90.png")
  img(src="images/freezers/b-90/3_4--Left-Open_B-90.png")
  img(src="images/freezers/b-90/3_4-Left-Open-empty_B90.png")
  img(src="images/freezers/b-90/3_4-Left-Open-product_B90.png")
  img(src="images/freezers/b-90/3_4-Left-Closed_B90.png")
  img(src="images/freezers/b-90/3_4-Right-Closed_B-90.png")

block features-benefits
  div
    .left
      div
        h2 Freeze/Thaw Capabilities
        ul
          li Temperature adjustable from +40 &degC to -90 &degC
          li Temperature uniformity &plusmn 3 &degC throughout
      div
        h2 Compressor-free, liquid nitrogen freezing
        ul
          li Minimizes service interruptions/downtime
          li Uses up to 90% less energy than mechanical units
          li Fastest freeze times in the industry
          li Reduces the need for maintenance or repairs when compared to mechanical freezers
          li No HVAC required
          li No refrigerant chemicals, oils, or CFCs
          li Completely silent operation


      div
        h2 Upright 100% stainless steel interior &amp exterior
        ul
          li Fast, convenient access to stored materials
          li Easy cleaning and sterilization
          
      div
        h2 Secure, programmable controls with touchscreen interface
        ul
          li Simplifies management, monitors freezing processes and logs user operations
          li Built-in data logging with up to 30 users
          
    .right
      div
        h2 Reliable Backups
        ul
          li ARedundant LN2 valves ensure further reliability
          li Downloadable Temperature, Alarm, &amp User Log
          
      div
        h2 Designed for cGMP applications
        ul
          li DQ/IQ completed
          li OQ/PQ ready
          li GMP qualified units currently in PharmBio use
      div
        h2 Compared to compressor based technologies - The B-90 offers:
        ul
          li More than 8X faster freezing than other freezers
          li A significant reduction in electrical power consumption
          li Up to 5 times greater payload capacity per unit area of floor space
          li Significant overall reduction in net operating expenses
      div

        h2 No liquid nitrogen exposure to users or product
