html
  head
    title Contact Us
    include components/head
  body
    include components/header

    #wrapper.thanks
        h1 Thanks for reaching out! We'll be in touch soon!

    include components/footer