@import 'variables';

@mixin screen-size($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-mobile) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: $break-s) { @content; }
  }
  @else if $media == med {
    @media only screen and (max-width: $break-m) { @content; }
  }
  @else if $media == l {
    @media only screen and (min-width: $break-l) { @content; }
  }
}

@mixin vertical-flex-center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin transition($duration: .5s, $type: all) {
  -webkit-transition: $type $duration;
  -moz-transition: $type $duration;
  transition: $type $duration;
}