@import 'variables';
@import 'mixins';
.image-slider {
    @include vertical-flex-center();
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    .control-container {
        @include vertical-flex-center();
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        .controls {
            display: flex;
            justify-content: space-between;
            height: 100%;
            $arrow-margin: 10%;
            i {
                width: 5%;
                color: $logo-color;
                cursor: pointer;
                font-size: 40px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 20px;
            }
            i:first-child {
                margin-right: 0;
            }
        }
    }
    .dots {
        left: 0;
        width: 100%;
        bottom: 0;
        position: absolute;
        text-align: center;
        margin-bottom: 100px;
        @include screen-size(mobile) {
            margin-bottom: 0;
        }
        i {
            color: $foot-info;
            margin: 0 3px;
            font-size: 12px;
        }
        i.active {
            color: $logo-color;
        }
    }
    .images {
        img {
            display: none;
            @include transition(.5s, all);
        }
        img:first-child {
            height: 400px;
            margin: auto;
            display: block;
            @include screen-size(mobile) {
                margin-top: 40px;
            }
            @include screen-size(sm) {
                height: 300px;
            }
        }
    }
}