@import 'variables';
@import 'mixins';

.image-slider {
  @include vertical-flex-center();

  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #fff;

  .control-container {
    @include vertical-flex-center();

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    position: absolute;
    
    .controls {
      display: flex;
      justify-content: space-between;

      $arrow-margin: 10%;
  
      i {
        width: 5%;
        color: #555;
        cursor: pointer;
        font-size: 30px;
        margin-right: $arrow-margin;
      }
      i:first-child {
        margin-left: $arrow-margin;
        margin-right: 0;
      }
    }
  }

  .dots {
    left: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
    margin-bottom: 20px;

    i {
      color: $foot-info;
      margin: 0 3px;
    }

    i.active {
      color: $logo-blue;
    }
  }

  .images {
    img {
      display: none;
      @include transition(.5s, all);
    }
  
    img:first-child {
      width: 100%;
      max-width: 420px;
      margin: auto;
      display: block;
    }
  }
}