$break-s: 300px;
$break-m: 800px;
$break-l: 1200px;
//Colors
$copy-background: #666666;
$foot-info:#e6e6e6;
$foot-message-btn: #009cdc;
$btn-hover:#38bcf3;
$link-hover: #284f5f;
//Font sizes
$normal: 14px;
$med-big: 16px;
$headings: 18px;
$big-headings: 22px;
//Font-Families
$main-font: Roboto,
RobotoDraft,
Helvetica,
Arial,
sans-serif;