@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
// Font-Families
$body-font: 'Open Sans',
Arial,
serif;
$header-font: 'Montserrat',
Arial,
sans-serif;

// General
$break-s: 300px;
$break-m: 800px;
$break-l: 1200px;
$break-mobile: 1080px;
$max-content-width: 1200px;

$header-height: 72px;
$header-height-mobile: 70px;

// Colors
$logo-blue: #009cdc;
$foot-info:#e6e6e6;
$btn-hover:#38bcf3;
$link-hover: #284f5f;
$copy-background: #666666;

// Font sizes
$small: 12px;
$normal: 17px;
$med-big: 18px;
$headings: 20px;
$big-headings: 22px;
$huge-headings: 30px;
