//styling for the contact form
.contact-form {
    margin: 100px auto 50px auto;
    padding: 20px 45px 20px 45px;
    width: 470px;
    background-color: $logo-blue;
    color: white;
    a {
        text-decoration: none;
        color: white;
        i {
            float: right;
            position: relative;
            top: -20px;
            right: -45px;
            font-size: $normal;
            padding: 10px;
        }
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: $normal;
        padding: 15px 0 10px 0;
    }
    label {
        display: block;
        margin: 15px 0 15px 0;
        input {
            display: block;
            width: 100%;
            height: 50px;
            font-size: $headings;
            padding-left: 10px;
        }
    }
    button {
        display: block;
        margin: 15px 0 0 0;
        width: 50%;
        background-color: $copy-background;
        border: none;
        color: white;
        height: 50px;
        font-size: $normal;
    }
}