//This file contains all styles for the footer elements
footer {
    h5 {
        font-size: $headings;
    }
    .foot-info {
        height: 250px;
        background-color: $foot-info;
        display: flex;
        // padding: 10px;
        justify-content: space-between;
        @include screen-size(sm) {
            justify-content: space-around;
        }
        .container-1 {
            display: flex;
            justify-content: flex-start;
        }
        .foot-products {
            max-width: 250px;
            ul {
                padding-left: 0;
            }
            li {
                list-style: none;
                a {
                    display: block;
                    padding: 5px;
                    color: $logo-blue;
                    font-size: $normal;
                    font-weight: normal;
                    transition-duration: 300ms;
                }
                a:hover {
                    color: black;
                }
            }
        }
        .foot-contact {
            width: 100%;
            max-width: 250px;
            // padding: 20px 60px;
            // max-width: 250px;
            font-size: $normal;
            p {
                color: $copy-background;
            }
            a {
                margin: 15px auto;
                display: block;
                // position: relative; // Is this the best way to do things?? I feel like there is probably some flexbox magic that I don't know here....
                // top: 13px; // I'm trying to push the blue button down from the paragraph above it
                color: white;
                padding: 8px 0;
                text-align: center;
                border-radius: 1px;
                text-decoration: none;
                background-color: $logo-blue;
                transition-duration: 300ms;
                width: 80%;
            }
            a:hover {
                background-color: $btn-hover;
            }
        }
        .foot-contact,
        .foot-products {
            height: 100%;
            display: flex;
            margin-left: 30px;
            flex-direction: column;
            justify-content: center;
            @include screen-size(sm) {
                padding: 5px;
                max-width: 50%;
                margin-left: 0px;
                a,
                li>a,
                p {
                    font-size: 14px;
                }
            }
        }
        .container-2 {
            align-self: flex-end;
            margin: 0 15px 15px 0;
            color: $copy-background;
            a {
                text-decoration: none;
                color: $copy-background;
                transition-duration: 300ms;
                &:hover {
                    color: $logo-blue;
                }
            }
            @include screen-size(mobile) {
                display: none;
            }
        }
    }
    .copyright {
        width: 100%;
        background-color: $copy-background;
        text-align: right;
        color: white;
        h5 {
            font-weight: normal;
            padding: 7px 25px 7px 0;
            @include screen-size(sm) {
                font-size: $body-font;
            }
        }
    }
}