@import 'variables';
//This file contains all styles for the header 
header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    position: fixed;

    nav {
        display: flex;
        text-align: right;
        justify-content: space-between;
        background-color: $logo-blue;

        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            & {
                margin-right: 12%;
            }
            &:first-child {
                margin-left: 12%;
                margin-right: 0;
            }

            @include screen-size(sm) {
                & {
                    margin-right: 10px;
                }
                &:first-child {
                    margin-left: 0;
                }
            }

            a {
                display: block;
                img {
                    max-width: 220px;
                }
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            ul {
                display: flex;
                justify-content: center;
            }
            li {
                display: inline;
                list-style: none;
                a,
                span {
                    color: white;
                    cursor: pointer;
                    display: block;
                    padding: 25px;
                    text-decoration: none;
                    transition-duration: 300ms;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
        .dropdown {
            overflow: hidden; // this is the container for the hidden
            // product links
            >div {
                @include transition(.8s, opacity);
                opacity: 0;
                z-index: 10;
                position: absolute;
                text-align: left;
                box-sizing: border-box;
                pointer-events: none;
                background-color: #fff;

                border: 3px solid $logo-blue;
                border-top: none;

                >a {
                    color: $logo-blue;
                    display: block;
                    padding: 10px !important;
                    border-bottom: 1px solid $logo-blue;
                }
                >a:last-child {
                    border-bottom: none;
                }
            }
            &:hover>div {
                opacity: 1;
                pointer-events: all;
            }
            i {
                margin-left: 5px;
            }
        }
    }
}

// Mobile nav stuff (separated out just to 
// keep things easier to keep track of)
nav {
    .fa-window-close {
        position: absolute;
        top: 30px;
        right: 30px;
        color: $logo-blue !important;
        font-size: 30px;
        z-index: 9999;
    }

    .mobile-nav {
        cursor: pointer;
        display: none;
        font-size: $huge-headings;
        a, i {
            color: #fff;
        }
    }

    .mobile-nav > a { display: block; }

    .mobile-nav ul,
    .mobile-nav .overlay,
    .mobile-nav .mobile-container {
        opacity: 0;
        pointer-events: none;
        @include transition(.7s, opacity);
    }
    .mobile-nav:target ul, 
    .mobile-nav:target .overlay,
    .mobile-nav:target .mobile-container {
        opacity: 1;
        pointer-events: all;
    }

    .overlay,
    .mobile-container {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        background-color: #fff;
    }

    .mobile-nav .overlay {
        z-index: 998;
        background-color: #fff;
    }

    .mobile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile-nav ul {
        position: relative;
        z-index: 999;
        opacity: 0;
        pointer-events: none;
        max-width: 300px;
        margin: auto;
        text-align: left;
        list-style: none;
        padding: 0;

        .nav-item {
            color: $logo-blue;
            padding: 20px;
            background-color: #fff;
            text-decoration: none;
            font-size: 22px;
        }

        li:first-child {
            text-align: center;
            margin-bottom: 20px;

            img {
                width: 100%;
                max-width: 400px;
            }
        }
        li:last-child {
            margin-top: 20px;

            a {
                color: #fff;
                text-align: center;
                background-color: $logo-blue;
            }
        }
    }

    @include screen-size(mobile) {
        padding: 15px;

        .links {
            display: none !important;
        }
        .mobile-nav {
            display: flex;
        }
    }
}
