@import 'variables';
//This file contains all styles for the header 
header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    position: fixed;

    nav {
        display: flex;
        text-align: right;
        justify-content: space-between;
        background-color: $logo-blue;

        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            & {
                margin-right: 12%;
            }
            &:first-child {
                margin-left: 12%;
                margin-right: 0;
            }

            a {
                display: block;
                img {
                    max-width: 220px;
                }
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            ul {
                display: flex;
                justify-content: center;
            }
            li {
                display: inline;
                list-style: none;
                a,
                span {
                    color: white;
                    cursor: pointer;
                    display: block;
                    padding: 25px;
                    text-decoration: none;
                    transition-duration: 300ms;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
        .dropdown {
            overflow: hidden; // this is the container for the hidden
            // product links
            >div {
                @include transition(.8s, opacity);
                opacity: 0;
                z-index: 10;
                position: absolute;
                min-width: 200px;
                text-align: left;
                box-sizing: border-box;
                pointer-events: none;
                background-color: #fff;

                border: 3px solid $logo-blue;
                border-top: none;

                >a {
                    color: $logo-blue;
                    display: block;
                    padding: 10px !important;
                    border-bottom: 1px solid $logo-blue;
                }
                >a:last-child {
                    border-bottom: none;
                }
            }
            &:hover>div {
                opacity: 1;
                pointer-events: all;
            }
            i {
                margin-left: 5px;
            }
        }
    }
}