//This file contains all styles for the header 
header {
    nav {
        text-align: right;
        display: flex;
        justify-content: space-between;
        background-color: $logo-blue;
        div {
            img {
                height: 40px;
                padding: 12px 20px 12px 30px;
            }
        }
        .links {
            ul {
                padding: 0 27px 0 0;
                li {
                    list-style: none;
                    display: inline;
                    a {
                        display: inline-block;
                        padding: 21px 27px;
                        text-decoration: none;
                        color: white;
                        transition-duration: 300ms;
                    }
                    a:hover {
                        color: black;
                    }
                }
            }
        }
    }
}