//styles for the home page
.hero-image {
    width: 100%;
    position: relative;
    background-color: rgb(112, 112, 168);

    img {
        width: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-color: rgba(0,0,0,.3);
    }

    .info {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 0 20px 20px;

        @media screen and (max-width: 770px) {
            display: block;
            float: left;
        }

        > * {
            margin-bottom: 10px;
        }
    }
    
    a {
        cursor: pointer;
        display: inline-block;
        color: white;
        padding: 15px;
        text-decoration: none;
        background-color: $logo-blue;
        margin-top: 20px;
    }
    h1,
    p {
        color: white;
    }
    h1 {
        font-size: $huge-headings;
    }
    p {
        font-size: $big-headings;
    }
}

main {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    a {
        margin: 15px;
        text-decoration: none;
    }
    a:hover {
        h2 {
            background-color: $btn-hover;
        }
    }
    div {
        width: 150px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #c2c2c2;
        p {
            color: white;
            padding: 8px;
            font-size: $normal;
        }
        h2 {
            color: white;
            padding: 8px;
            font-size: $small;
            background-color: $logo-blue;
            transition-duration: 300ms;
        }
    }
}