// This file should only contain styles that are
// global to the entire site. If a given style is
// only found on a specific page, it should be
// put in a file that is associated with that page
@import 'variables';
@import 'mixins';
@import 'footer';
@import 'header';
@import 'product';
@import 'product-slider';
@import 'home';
* {
    margin: 0;
    font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $header-font;
}

h1,
h2 {
    font-weight: 700;
}

h3,
h4,
h5 {
    font-weight: 400;
}

#wrapper {
    margin: auto;
    max-width: $max-content-width;
}