// This file should only contain styles that are
// global to the entire site. If a given style is
// only found on a specific page, it should be
// put in a file that is associated with that page
@import 'variables';
@import 'mixins';
@import 'footer';
@import 'header';
@import 'product';
@import 'product-slider';
@import 'home';
@import 'contact';
* {
    margin: 0;
    font-family: $body-font;
}

sup {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $header-font;
}

h1,
h2 {
    font-weight: 700;
}

h3,
h4,
h5 {
    font-weight: 400;
}

#wrapper {
    margin: auto;
    max-width: $max-content-width;
    margin-top: $header-height;
    @include screen-size(mobile) {
        margin-top: $header-height-mobile;
    }
}

// This isn't global, but it's a one-off
// style for a single page, so I plopped it
// here.
.thanks h1 {
    padding: 50px;
    text-align: center;
}