.contact-form
    
    a(href="index.html" id="cancel-btn")
        i.fas.fa-times
    h1 CONTACT US
    p We'd love to answer your questions about our freezers
    form(action="submit")
        label Name
            input(type="text")
        label Company
            input(type="text")
        label Phone Number
            input(type="text")
        label Message / Question
            textarea(name="textarea", cols="30", rows="5")

        button(type="submit") Submit