.contact-form
    
    a(href="index.html" id="cancel-btn")
        i.fas.fa-times
    h1 CONTACT US
    p We'd love to answer your questions about our freezers
    form#contact(action="https://bgz49psgy9.execute-api.us-west-2.amazonaws.com/prod/Cryometrix--Email-Sender", method="POST")
        label Name
        input(name="name", type="text")
        label Company
        input(name="company", type="text")
        label Phone Number
        input(name="phone", type="text")
        label Message / Question
        textarea(name="message", cols="30", rows="5")
        button(type="submit") Submit