.contact-form
    a(href="index.html" id="cancel-btn")
        i.fas.fa-times
    h1 CONTACT US
    p We'd love to answer your questions about our stuff!
    form(action="https://z28up1rg8h.execute-api.us-east-1.amazonaws.com/prod/CryometrixContactHandler", method="POST")
        label.required #[span Name]
            input(name="name" type="text", required)
        label.required #[span Email Address]
            input(name="email" type="text", required)
        label.required #[span Phone Number]
            input(name="phone" type="text", required)
        label Company
            input(name="company" type="text")
        label Product of Interest
            select(name="product")
                option(value="select") Select a product..
                option(value="fraction-collector") Fraction Collector
                option(value="vuv-40f") VUV-40F Detector
                option(value="euv") EUV Detector
                option(value="vuv24") VUV-24 Detector
                option(value="vuv14") VUV-14 Detector
                option(value="vuv14d") VUV-14D Detector
                option(value="ferrules") GC Ferrules
                option(value="liners") GC Liners
                option(value="vials") Vials, Caps, & Inserts
                option(value="gas") Gas Purification
                option(value="silicone") Silicone Products
                option(value="glass") Glass Fabrication
                option(value="other") Other
        label Message / Question
            textarea(name="message", cols="30", rows="5")
        div.g-recaptcha(data-sitekey="6LdZ8VkUAAAAAAOu3yTln3VRZwMeLVf4Vcbpq9UZ")

        button(type="submit") Submit