footer
  .foot-background
    .foot-info
      .foot-products
        h5 Products
          ul 
            li 
              a(href="#") T-160 Ultra Low Freezer
            li 
              a(href="#") B-90 Blast/Thaw Freezer
            li 
              a(href="#") T-90 Storage Freezer
            li 
              a(href="#") S-90 Shipper Freezer
      .foot-contact
        p Not seeing what you're looking for? Need something custom? Please reach out, and we'll see what we can do!
        a(href="#") Send us a Message
        
  .copyright
    h5 &copy 2018 REFLECT SCIENTIFIC, INC. ALL RIGHTS RESERVED
script(src="main.js")