footer
  .foot-background
    .foot-info
      .foot-products
        div
          h5 Products
          ul 
            li 
              a(href="product-t160.html") T-160 Ultra Low Freezer
            li 
              a(href="product-b90.html") B-90 Blast/Thaw Freezer
            li 
              a(href="product-t90.html") T-90 Storage Freezer
            li 
              a(href="product-s90.html") S-90 Shipper Freezer
      .foot-contact
        div
          p Not seeing what you're looking for? Need something custom? Please reach out, and we'll see what we can do!
          a(href="#") Send us a Message
        
  .copyright
    h5 &copy 2018 REFLECT SCIENTIFIC, INC. ALL RIGHTS RESERVED
script(src="main.js")