footer
  
  .foot-info
    //- .container-1
    .foot-products
      div
        h5 Products1
        ul 
          li 
            a(href="p-vuv-40f.html") VUV-40F Detector
          li 
            a(href="p-euv.html") EUV Detector
          li 
            a(href="p-vuv24.html") VUV-24 Detector
          li 
            a(href="p-vuv14.html") VUV-14 Detector
          li
            a(href="p-vuv14d.html") VUV-14D Detector          
    .foot-products
      div
        h5 Products2
        ul           
          li
            a(href="p-gc-ferrules.html") GC Ferrules
          li 
            a(href="p-gc-liners.html") GC Liners
          li
            a(href="p-vials.html") Vials, Caps, & Liners
          li 
            a(href="p-gas.html") Gas Purification
          li 
            a(href="p-silicone.html") Silicone Rubber Products
          li
            a(href="p-glass.html") Glass Fabrication
    .foot-contact
      div
        p Not seeing what you're looking for? Need something custom? Please reach out, we'd love to work with you!
        a(href="contact.html" id="send-btn") Contact Us
    //- .container-2
      a(href="http://www.reflectscientific.com/" target="_blank") Reflect Scientific Inc.
      p Phone | 801-226-4100 
      p Fax &nbsp&nbsp&nbsp&nbsp&nbsp   | 801-226-2885
      a(href="contact.html" id="email-btn") info@reflectscientific.com
  .copyright
    h5 &copy 2018 Reflect Scientific, Inc. All Rights Reserved
script(src="main.js")