header  
  nav
    div
      a(href="index.html")
        img(src="images/Cryometrix-Logo_white.png")
    div.links
      ul
        li
          a(href="index.html") Home
        li
          .dropdown
            span Products #[i.fas.fa-angle-down]
            div
              a(href="product-t160.html") T-160 Ultra Low Freezer
              a(href="product-b90.html") B-90 Blast/Thaw Freezer
              a(href="product-t90.html") T-90 Storage Freezer
              a(href="product-s90.html") S-90 Shipper Freezer
        li
          .dropdown
            span Applications #[i.fas.fa-angle-down]
            div
              a(href="product-b90.html").nav-item Blast Freezing
              a(href="product-b90.html").nav-item Plasma Freezing
              a(href="product-t160.html").nav-item CAR-T Cell Storage
              a(href="product-b90.html").nav-item cGMP Processes
              a(href="product-t90.html").nav-item Stem Cell Storage
              a(href="product-s90.html").nav-item 7 Day Backup Storage
        li
          a(href="contact.html" id="contact-btn") Contact Us
    .mobile-nav#mobile-nav
      a(href="#mobile-nav") #[i.fas.fa-bars]
      .mobile-container
        i.fas.fa-times
        ul
          li.logo #[img(src="images/Cryometrix-Logo_color.png")]
          li #[a(href="index.html").nav-item Home]
          li.dropdown #[a(href="#").nav-item Products #[i.fas.fa-angle-down]]
            ul
              li #[a(href="product-t160.html").nav-item T-160 Ultra Low Freezer]
              li #[a(href="product-b90.html").nav-item B-90 Blast/Thaw Freezer]
              li #[a(href="product-t90.html").nav-item T-90 Storage Freezer]
              li #[a(href="product-s90.html").nav-item S-90 Shipper Freezer]
          li.dropdown #[a(href="#").nav-item Applications #[i.fas.fa-angle-down]]
            ul
              li #[a(href="product-b90.html").nav-item Blast Freezing]
              li #[a(href="product-b90.html").nav-item Plasma Freezing]
              li #[a(href="product-t160.html").nav-item CAR-T Cell Storage]
              li #[a(href="product-b90.html").nav-item cGMP Processes]
              li #[a(href="product-t90.html").nav-item Stem Cell Storage]
              li #[a(href="product-s90.html").nav-item 7 Day Backup Storage]
          li.contact #[a(href="contact.html" id= "mobile-contact-btn").nav-item Contact Us]
        a(href="#").overlay
      
      
      