header  
  nav
    div
      a(href="#")
        img(src="../../designs/images/CryoLogo.png")
    div.links
      ul
        li
          a(href="#") Home
        li
          a(href="#") Products
        li
          a(href="#") Contact Us
      
      
      