header  
  nav
    div
      a(href="index.html")
        img(src="images/Cryometrix-Logo_white.png")
    div.links
      ul
        li
          a(href="index.html") Home
        li
          a(href="product-t160.html") Products 
        
        li
          a(href="contact.html" id="contact-btn") Contact Us
    .mobile-nav#mobile-nav
      a(href="#mobile-nav") #[i.fas.fa-bars]
      .mobile-container
        i.fas.fa-times
        ul
          li.logo #[img(src="images/Cryometrix-Logo_color.png")]
          li #[a(href="index.html").nav-item Home]
          li.dropdown #[a(href="#").nav-item Products #[i.fas.fa-angle-down]]
            ul
              li #[a(href="product-t160.html").nav-item T-160 Ultra Low Freezer]
              
          li.dropdown #[a(href="#").nav-item Applications #[i.fas.fa-angle-down]]
            ul
              li #[a(href="product-t160.html").nav-item CAR-T Cell Storage]
              
          li.contact #[a(href="contact.html" id= "mobile-contact-btn").nav-item Contact Us]
        a(href="#").overlay
      
      
      