header  
  nav
    div
      a(href="home.html")
        img(src="images/Cryometrix-Logo_white.png")
    div.links
      ul
        li
          a(href="home.html") Home
        li
          .dropdown
            span Products #[i.fas.fa-angle-down]
            div
              a(href="product-t160.html") T-160 Ultra Low Freezer
              a(href="product-b90.html") B-90 Blast/Thaw Freezer
              a(href="product-t90.html") T-90 Storage Freezer
              a(href="product-s90.html") S-90 Shipper Freezer
        li
          a(href="#") Contact Us
      
      
      