header  
  nav
    div
      a(href="index.html")
        img(src="images/visaconlogo_white.png")
    div.links
      ul
        li
          a(href="index.html") Home
        li
          .dropdown
            span GC Consumables #[i.fas.fa-angle-down]
            div
              a(href="p-gc-ferrules.html") GC Ferrules
              a(href="p-gc-liners.html") GC Liners
              a(href="p-vials.html") Vials, Caps, &amp; Liners
              a(href="p-gas.html") Gas Purification
              a(href="p-silicone.html") Silicone Rubber Products
              a(href="p-glass.html") Glass Fabrication
              
        li
          .dropdown
            span UV Detectors #[i.fas.fa-angle-down]
            div
              a(href="p-euv.html") EUV Detector              
              a(href="p-vuv24.html") VUV-24 Detector
              a(href="p-vuv14.html") VUV-14 Detector
              a(href="p-vuv14d.html") VUV-14D Detector
              a(href="p-vuv-40f.html") VUV-40F Detector
        li
          a(href="distributor.html") Become a Distributor
        li
          a(href="contact.html" id="contact-btn") Contact Us
        
    .mobile-nav#mobile-nav
      a(href="#mobile-nav") #[i.fas.fa-bars]
      .mobile-container
        i.fas.fa-times
        ul
          li.logo #[img(src="images/visaconlogocolor.png")]
          li #[a(href="index.html").nav-item Home]
          li.dropdown #[a(href="#").nav-item GC Consumables #[i.fas.fa-angle-down]]
            ul              
              li #[a(href="p-gc-ferrules.html").nav-item GC Ferrules]
              li #[a(href="p-gc-liners.html").nav-item GC Liners]
              li #[a(href="p-vials.html").nav-item Vials, Caps, & Liners]
              li #[a(href="p-gas.html").nav-item Gas Purification]
              li #[a(href="p-silicone.html").nav-item Silicone Rubber Products]
              li #[a(href="p-glass.html").nav-item Glass Fabrication]
          li.dropdown #[a(href="#").nav-item UV Detectors #[i.fas.fa-angle-down]]
            ul
              li #[a(href="p-euv.html").nav-item EUV Detector]
              li #[a(href="p-vuv24.html").nav-item VUV-24 Detector]
              li #[a(href="p-vuv14.html").nav-item VUV-14 Detector]
              li #[a(href="p-vuv14d.html").nav-item VUV-14D Detector]  
              li #[a(href="p-vuv-40f.html").nav-item VUV-40F Detector]   
                   
              
          
          li #[a(href="distributor.html").nav-item Become a Distributor]  
          li.contact #[a(href="contact.html" id= "mobile-contact-btn").nav-item Contact Us]
          
        a(href="#").overlay
      
      
      