header  
  nav
    div
      a(href="#")
        img(src="images/Cryometrix-Logo_color.png")
    div.links
      ul
        li
          a(href="#") Home
        li
          a(href="#") Products
        li
          a(href="#") Contact Us
      
      
      